.minified .hide-minified {
	display: none;
}

#loading-bar-spinner {
  top: 60px !important;
  right: 0px !important;
  left: initial;
}

body {
	font-family:"Open Sans", Arial,Helvetica,Sans-Serif;
	font-size:13px;
	line-height:1.428571429;
	color:#333;
}

.nav-tabs li{
	cursor: pointer;
}

.nav-tabs li.active{
	cursor: auto;
}